<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/film.css">
    <link rel="stylesheet" type="text/css" href="../static/css/nav-bar.css">



</head>
<body>
    <div>
        <ul id="navbar">
            <li class="navbar_link"><a class="nav_link" href="/home">home</a></li>
            <li class="navbar_link"><a class="nav_link" href="/contacts">Movies</a></li>

              <li class="navbar_link"><a class="nav_link" href="" >Add</a>
                <ul>
                    <li>
                        <a href="/movie_form">Movie</a>
                        <a class = "punct" href="/actor_form">Actors</a>
                        <a class = "punct" href="/producer_form">Producer</a>
                    </li>
                  </ul>
                </li>



        </ul>
    </div>
      <h1 style="color: white">{{movie[1]}}</h1>
      <h1 style="color: white">{{movie[2]}}</h1>
      <button><a href="/delete_producer/{{movie[0]}}">delete</a></button>
</body>